
form input
{
	border: 1px solid black;
	height: 30px;
	width: 200px;
	margin-left: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
}

form button
{
	display: block;
	margin-top: 10px;
	background-color: grey;
	color: white;
	border-radius: 1px;
	box-shadow: 5px 5px 5px black;
	margin-left: 300px;
	margin-top: 50px;
	background: linear-gradient( blueviolet, indigo);
	width: 200px;
	height: 30px;
}


h2
{
	font-family: 'Supermercado One', cursive;
	font-size: 40px;
	margin-bottom: 30px;

}

p
{
	font-size: 20px;
	margin-left: 100px;
	width: 250px;
}

.audio
{
	margin-left:100px;
}


ul
{
	margin-left: 100px;
}



